include ../mixins/navigation.jade
- user = typeof(user) != 'undefined' ? user : { }
- school = typeof(school) != 'undefined' ? school : { }

nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed.btn-xs(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.glyphicon.glyphicon-th-list
      a.navbar-brand(href='/') 
        font(color='#cd610a')
          b University
        font(color='black')
          b Manager
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li
          a(href='/catalog') 
            span.glyphicon.glyphicon-book &nbsp;
            | Fall 2014 Catalog         
        block nav
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown') 
            | #{user.first} #{user.last} &nbsp;
            span.glyphicon.glyphicon-user 
            span.caret
          ul.dropdown-menu(role='menu')
            if(user.type == 'admin')
              +adminNav()
              li.divider
              +navItem('/credentials/signout','Sign Out')
            else if (user.type == 'teacher')
              +teacherNav()
              li.divider
              +navItem('/credentials/signout','Sign Out')
            else if (user.type == 'student')
              +studentNav()
              li.divider
              +navItem('/credentials/signout','Sign Out')
            else
              +navItem('/credentials/register', 'Register Today!')
              li.divider
              li 
                +signIn()
            +navItem('/credentials/signout','Sign Out')