// Begin Jade template.
extends layout
- subject = typeof(subject) != 'undefined' ? subject : { }

//-CSS is inserted in the HEAD tag.
block css
  
//-JavaScript will be inserted at the end of the BODY tag.
block js
  
//-Add navigation item to existing navigation set.
block nav
  
//-Add navigation item to existing Administrator navigation set.
block navAdmin
  
//-HTML content to display.
block content
  section#main.container
    .row
      //-Columns in a row must equal 12. 
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h1 #{title}
        h3 Admin Only  
        p note:should only be viewed by Admin 
        div.container
         .row
         .col-xs-12.col-sm-12.col-md-12.col-lg-12
        form(role='form', method='POST', action='/catalog', id='register-form')
        h3 Add Course 
        .row
          .col-xs-2.col-sm-2.col-md-2.col-lg-2
            .input-group
            .input-group-addon Course Name
             input.form-control(name='course.name', placeholder='', type='input', required)
        
          .col-xs-2.col-sm-2.col-md-2.col-lg-2
            .input-group
            .input-group-addon Section
             input.form-control(name='schedule.section', placeholder='', type='number', required)
          .col-xs-2.col-sm-2.col-md-2.col-lg-2
            .input-group
            .input-group-addon Code
             input.form-control(name='course.code', placeholder='', type='input', required)
          .col-xs-2.col-sm-2.col-md-2.col-lg-2
            .input-group
            .input-group-addon Types
             input.form-control(name='course.type', placeholder='', type='input', required)
          col-xs-2.col-sm-2.col-md-2.col-lg-2
            .input-group
            .input-group-addon Days
             input.form-control(name='daily', placeholder='', type='input', required)
           col-xs-2.col-sm-2.col-md-2.col-lg-2
            .input-group
            .input-group-addon Time
             input.form-control(name='time', placeholder='', type='input', required)
         .col-xs-2.col-sm-2.col-md-2.col-lg-2
            .input-group
            .input-group-addon Open Seats
             input.form-control(name='schedule.seats', placeholder='', type='number', required)
         .col-xs-2.col-sm-2.col-md-2.col-lg-2
            .input-group
            .input-group-addon Location
             input.form-control(name='location', placeholder='', type='input', required)
         .col-xs-2.col-sm-2.col-md-2.col-lg-2
            .input-group
            .input-group-addon Instructor
             input.form-control(name='instructor', placeholder='', type='input', required) 
         .col-xs-6.col-sm-6.col-md-6.col-lg-6
            .input-group
            .input-group-addon Comments
             input.form-control(name='comments', placeholder='', type='input', required)
             button.btn.btn-lg.btn-primary.pull-right.disabled(type='submit') Add

// End Jade Template
