// Begin Jade template.
extends layout
- course = typeof(course) != 'undefined' ? course : { }

//-HTML content to display.
block content
  section#main.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h1 Add Course Schedule
        p Note: Only Admin can add schedule to the courses registered
        br
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            form(role='form', method='POST', action='/catalog', id='register-form')
              h3 Add Schedule
              .row
                .col-xs-3.col-sm-3.col-md-3.col-lg-3
                  .input-group
                    .input-group-addon Course Name
                    input.form-control(name='course.section', placeholder='', type='input', required)
                .col-xs-3.col-sm-3.col-md-3.col-lg-3
                  .input-group
                    .input-group-addon Prof. Name
                    input.form-control(name='Prof.Name', placeholder='', type='input', required)
                .col-xs-3.col-sm-3.col-md-3.col-lg-3
                  .input-group
                    .input-group-addon Student.Length
                    input.form-control(name='schedule.seatsTaken', placeholder='', type='number', required)
                .col-xs-3.col-sm-3.col-md-3.col-lg-3
                  .input-group
                    .input-group-addon Room Number
                    input.form-control(name='Room.number', placeholder='', type='number', required)
              br        
              .row
                .col-xs-3.col-sm-3.col-md-3.col-lg-3
                  .input-group
                    .input-group-addon Seats Available
                    input.form-control(name='schedule.seats', placeholder='', type='number', required)
                .col-xs-3.col-sm-3.col-md-3.col-lg-3
                  .input-group
                    .input-group-addon Week Days
                    input.form-control(name='schedule.dailyMeeting', placeholder='', type='input', required)
                .col-xs-3.col-sm-3.col-md-3.col-lg-3
                  .input-group
                    .input-group-addon time
                    input.form-control(name='schedule.startTime', placeholder='**:**am/pm to **:**am/pm', type='number', required)
                .col-xs-3.col-sm-3.col-md-3.col-lg-3
                  .input-group
                    .input-group-addon duration
                    input.form-control(name='schedule.length', placeholder='', type='number', required)     
              br
              button.btn.btn-lg.btn-primary.pull-left.disabled(type='submit') Add    
// End Jade Template