// Begin Jade template.
extends layout
- course = typeof(course) != 'undefined' ? course : { }

//-CSS is inserted in the HEAD tag.
block css
  
//-JavaScript will be inserted at the end of the BODY tag.
block js
  
//-Add navigation item to existing navigation set.
block nav
  
//-Add navigation item to existing Administrator navigation set.
block navAdmin
  
//-HTML content to display.
block content
  section#main.container
    .row
      //-Columns in a row must equal 12. 
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h1 University Manager| Add Course Schedule
        //h1 #{title}
        p Note: Only Admin can add schedule to the cources registered	
             //h3 Add Schedule
      .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            form(role='form', method='POST', action='/catalog', id='register-form')
              h3 Add Schedule
             <body>
            .row 
               .col-xs-3.col-sm-3.col-md-3.col-lg-3
                  .input-group
                    .input-group-addon Course Name
                    input.form-control(name='course.name', placeholder='', type='input', required)
               .col-xs-3.col-sm-3.col-md-3.col-lg-3
                  .input-group
                    .input-group-addon Prof. Name
                    input.form-control(name='Prof.Name', placeholder='', type='input', required)
               .col-xs-3.col-sm-3.col-md-3.col-lg-3
                  .input-group
                    .input-group-addon Student.Length
                    input.form-control(name='Student.Length', placeholder='', type='number', required)
               .col-xs-3.col-sm-3.col-md-3.col-lg-3
                  .input-group
                    .input-group-addon Room Number
                    input.form-control(name='Room.number', placeholder='', type='number', required)  
             .row
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                  .input-group
                  .input-group-addon Week Days
                    input.form-control(name='days', placeholder='', type='input', required)
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                  .input-group
                  .input-group-addon time
                    input.form-control(name='Time', placeholder='**:**am/pm to **:**am/pm', type='number', required)                
                button.btn.btn-lg.btn-primary.pull-left.disabled(type='submit') Add
             </body>	
             
// End Jade Template