// Begin Jade template.
extends layout
- schedule = typeof(schedule) != 'undefined' ? schedule : { }

//-CSS is inserted in the HEAD tag.
block css
link(rel='stylesheet',href='/css/mycss.css')

  
//-JavaScript will be inserted at the end of the BODY tag.
block js
  
//-Add navigation item to existing navigation set.
block nav
  
//-Add navigation item to existing Administrator navigation set.
block navAdmin
  
//-Add navigation item to existing Teacher navigation set.
block navTeacher
  
//-Add navigation item to existing Student navigation set.
block navStudent
  
//-HTML content to display.
block content
  section#main.container
    .row
      //-Columns in a row must equal 12. 
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h1 #{title}
        p Welcome #{user.first} info goes here 
        h3 View the Courses by Sessions (Semesters)
        p The catalog displays courses by sessions. Please click on each sessions in order to view the courses. 
         |Click the expand button in order to expand the listing of the courses. 
        
        // start grid for images 
  div.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
         .col-xs-4.col-sm-4.col-md-4.col-lg-4
           h4 Fall 2014
           img(src="http://www.csulb.edu/depts/enrollment/assets/img/buttonsSM/images/class_sched_fall.jpg", alt="Fall 2014")
         .col-xs-4.col-sm-4.col-md-4.col-lg-4
           h4 Winter Intersession 2014
           img(src="http://www.csulb.edu/depts/enrollment/assets/img/buttonsSM/images/may_intersession.jpg", alt="Winter 2014")
         .col-xs-4.col-sm-4.col-md-4.col-lg-4
           h4 Spring 2015
           img(src="http://www.csulb.edu/depts/enrollment/assets/img/buttonsSM/images/class_sched_spring_2005.jpg", alt="Winter 2014")
  // show schedule 
  div.container
   p  note: include current schedule template here 
   h3 Fall 2014
   h4 Start Date: 8/26-12/15
   // note expand buttons should change to collapse when necessary
   button.btn.btn-lg.btn-primary.pull-right.disabled(type='button') Expand +
   h4 Art-(ART)
   p Please refer to the class notes as indicated on individual sections to determine any supply and/or model fees which might apply.
   h5 Art 101-Artist In Their Own Words (3Units) 
  div.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           h6 ADD
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           h6 SEC
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           h6 CODE
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           h6 TYPES
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           h6 DAYS
         .col-xs-2.col-sm-2.col-md-2.col-lg-2
           h6 TIME
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           h6 OPEN SEATS
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           h6 LOC
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           h6 INST
         .col-xs-2.col-sm-2.col-md-2.col-lg-2
           h6 COMMENTS
  div.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           .input-group
             .input-group-addon Add
               input.form-control(name='Add', placeholder='', type='checkbox')
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p 1
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p A01
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p SEM
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p MW
         .col-xs-2.col-sm-2.col-md-2.col-lg-2
           p 8-9:15AM
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p 1
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p AR 101
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p Phan,C
         .col-xs-2.col-sm-2.col-md-2.col-lg-2
           p Instructor Consent Req 
  div.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           .input-group
             .input-group-addon Add
               input.form-control(name='Add', placeholder='', type='checkbox')
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p 2
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p A02
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p SEM
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p MW
         .col-xs-2.col-sm-2.col-md-2.col-lg-2
           p 9:30-10:45AM
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p 1
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p AR 101
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p Phan,C
         .col-xs-2.col-sm-2.col-md-2.col-lg-2
           p Instructor Consent Req    
   div.container
     h4 Biology-(BIOL)
     p Enrollment required for LEC,LAB in this group of sections.
     h5 BIOL 102-Introduction To Biology (3Units) 
   div.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           h6 ADD
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           h6 SEC
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           h6 CODE
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           h6 TYPES
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           h6 DAYS
         .col-xs-2.col-sm-2.col-md-2.col-lg-2
           h6 TIME
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           h6 OPEN SEATS
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           h6 LOC
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           h6 INST
         .col-xs-2.col-sm-2.col-md-2.col-lg-2
           h6 COMMENTS
  div.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           .input-group
             .input-group-addon Add
               input.form-control(name='Add', placeholder='', type='checkbox')
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p 1
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p B01
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p LEC
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p TTh
         .col-xs-2.col-sm-2.col-md-2.col-lg-2
           p 8-9:15AM
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p 5
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p HS 101
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p Clark,B
         .col-xs-2.col-sm-2.col-md-2.col-lg-2
           p Instr consent req.  
  div.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           .input-group
             .input-group-addon Add
               input.form-control(name='Add', placeholder='', type='checkbox')
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p 2
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p B02
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p LAB
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p TTh
         .col-xs-2.col-sm-2.col-md-2.col-lg-2
           p 9:30-10:45AM
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p 4
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p HS 101
         .col-xs-1.col-sm-1.col-md-1.col-lg-1
           p Majidz,H
         .col-xs-2.col-sm-2.col-md-2.col-lg-2
           p Must be enrolled in a LEC    
  div.container
    // should only be viewed by students 
    h3 Students Only 
    p note:should only be viewed by students 
    button.btn.btn-lg.btn-primary.pull-left.disabled(type='button') Add Course 
  div.container
    // should only be viewed by admin 
    h3 Admin Only  
    p note:should only be viewed by Admin-link to addcourse page 
  div.container
   h3 General Info
   p Click on the links below for general information 
   a(href="http://www.titanbookstore.com/home.aspx", rel="nofollow") TextBooks
   br
   a(href="http://www.fullerton.edu/catalog/DegreeListing.aspx", rel="nofollow") Degree Listing
   br 
   a(href="http://localhost:3000/credentials/register", rel="nofollow") Registration
           
        
           
   
    // use include any jade template here 

// End Jade Template
