// Begin Jade template.
extends layout
- schedule = typeof(schedule) != 'undefined' ? schedule : { }

//-CSS is inserted in the HEAD tag.
block css
  
//-JavaScript will be inserted at the end of the BODY tag.
block js
  
//-Add navigation item to existing navigation set.
block nav
  
//-Add navigation item to existing Administrator navigation set.
block navAdmin
  
//-Add navigation item to existing Teacher navigation set.
block navTeacher
   +navItem('#main','Student History')
  
//-Add navigation item to existing Student navigation set.
block navStudent
  
//-HTML content to display.
block content
  section#main.container
    .row
      //-Columns in a row must equal 12. 
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h1 #{title}
        //p Welcome #{user.first}
        p Enter student's information to see his/her class history 
        .row 
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .row
            .col-xs-6.col-sm-6.col-md-6-.col-lg-6
              .input.group
                .input-group-addon Last Name
                input.form-control(name='Last Name', placeholder='', type='input', required)
            .col-xs-6.col-sm-6.col-md-6-.col-lg-6
              .input.group
                .input-group-addon CWID
                input.form-control(name='CWID', placeholder='', type='number', required)
         .row
             .col-xs-6.col-sm-6.col-md-6-.col-lg-6
              .input.group
                .input-group-addon Semester
                input.form-control(name='Semeser', placeholder='', type='input', required)
             
                button.btn.btn-lg.btn-primary.pull-right.disabled(type='submit') View
        

// End Jade Template