      form(role='form', method='POST', action='/user/register', id='register-form')
        div(class='modal-header')
          button(type='button', class='close', data-dismiss='modal')
            span(aria-hidden='true') &times;
            span(class='sr-only') Close
          h4(class='modal-title', id='registerLabel') Register Account
        div(class='modal-body')
          div(class='input-group')
            div(class='input-group-addon') First Name
            input.form-control(name='first-name', placeholder='', type='input', autofocus, required)
          br
          div(class='input-group')
            div(class='input-group-addon') Last Name
            input.form-control(name='last-name', placeholder='', type='input', required)
          br
          div(class='input-group')
            div(class='input-group-addon') User Email
            input.form-control(name='user', placeholder='', type='email', required)
          br
          div(class='input-group')
            div(class='input-group-addon') Password &nbsp;
            input.form-control(name='password', placeholder='', type='password', required)
          br
          p One more time ...
          div(class='input-group')
            div(class='input-group-addon') Password
            input.form-control(name='password-again', placeholder='', type='password', required)
          div(class='alert alert-warning alert-dismissible', role='alert', id='fail-pass', hidden='hidden')
            button(type='button', class='close', data-hide='alert')
              span(aria-hidden='true') &times;
              span(class='sr-only') Close
            strong Warning!
            |  Invalid. The password did not match.
            br
        div(class='modal-footer')
          div(class='checkbox', style='margin-left: 22px; margin-bottom: 0px; float:left;')
            input(type='checkbox', name='agree', value='I agree.')
            | I 
            u agree
            |  to 
            a(href='#') Terms. 
          button(type='button', class='btn btn-lg btn-default', data-dismiss='modal') Cancel
          button(type='submit', class='btn btn-lg btn-primary') Register
          div(class='alert alert-warning alert-dismissible', role='alert', id='fail-agree', hidden='hidden')
            button(type='button', class='close', data-hide='alert')
              span(aria-hidden='true') &times;
              span(class='sr-only') Close
            strong Warning!
            |  You have not 
            u agreed
            |  to the Terms.