// Begin Jade template.
extends layout

//-CSS is inserted in the HEAD tag.
block css
   
//-JavaScript will be inserted at the end of the BODY tag.
block js
  
//-Add navigation item to existing navigation set.
block nav
  
//-Add navigation item to existing Student navigation set.
block navStudent
  
//-HTML content to display.
block content
  section#main.container
    .row
      //-Columns in a row must equal 12. 
      .col-xs-12.col-sm-12.col-md-12.col-lg-12      
        .panel.panel-default
          .panel-heading
            h4.panel-title
              | Create An Account
          .panel-body
            form(role='form', method='POST', action='/credentials/register', id='register-form')
              div(class='input-group')
                div(class='input-group-addon') First Name
                input.form-control(name='value', placeholder='', type='input', autofocus, required)
              br
              button(type='submit', class='btn btn-lg btn-primary pull-right') Register
              div(class='agree-check checkbox pull-right', style='margin-left: 22px; margin-bottom: 0px; float:left;')
                input(type='checkbox', name='agree', value='I agree.')
                | I 
                u agree
                |  to 
                a(href='#') Terms. 
              div(class='alert alert-warning alert-dismissible', role='alert', id='fail-agree', hidden='hidden')
                button(type='button', class='close', data-hide='alert')
                  span(aria-hidden='true') &times;
                  span(class='sr-only') Close
                strong Warning!
                |  You have not 
                u agreed
                |  to the Terms.