@CHARSET "UTF-8";

* {	
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
}

body h1 {
	color: #cd610a;
}

body h2 {
	color: #b75709;
}

body h3 {
	color: #a64f08;
}

body h4 {
	color: #7c3c08;
}

body h5 {
	color: #683308;
}

body h6 {
	color: #492406;
}

.agree-check {
	margin-right:10px;
}

.left-list {
	height: 475px;
}

.right-list {
	height: 475px;
}