mixin navItem(target, title)
  li
    a(href=target) #{title}
    
mixin adminNav()
  li.dropdown-header Administrator Menu  
  li.divider  
  li.dropdown-header Catalog Management
  +navItem('/catalog/addschedule', 'Add Schedule')
  +navItem('/catalog/addcourse', 'Add Course')
  li.divider
  +navItem('/credentials/manage', 'Manage Users')
  block adminNav
  
mixin studentNav()
  li.dropdown-header Student Menu
  li.divider  
  +navItem('/catalog/schedule', 'My Schedule')
  li.divider  
  li.dropdown-header Course Management
  +navItem('/student/add', 'Add Course')
  +navItem('/student/drop', 'Drop Course')
  block studentNav
    
mixin teacherNav()
  li.dropdown-header Teacher Menu
  li.divider  
  +navItem('/catalog/schedule', 'My Schedule')
  li.divider
  li.dropdown-header Manage Students
  +navItem('/student/history', 'Student History')
  +navItem('/student/drop', 'Drop Student')
  block teachNav

mixin pendingNav()
  li.dropdown-header Student Applicant
  +navItem('#status-pending', 'Application processing...')
  
div(class='modal fade', id='login-form', tabindex='-1', role='dialog', aria-labelledby='loginLabel', aria-hidden='true')
  div(class='modal-dialog modal-sm')
    div(class='modal-content')
      form(role='form', method='POST', action='/credentials', id='loginForm')
        div(class='modal-header')
          button(type='button', class='close', data-dismiss='modal')
            span(aria-hidden='true') &times;
            span(class='sr-only') Close
          h4(class='modal-title', id='registerLabel') Sign In
        div(class='modal-body')
          div(class='input-group')
            div(class='input-group-addon') User Email
            input.form-control(name='user', placeholder='', type='email', required, autofocus)
          br
          div(class='input-group')
            div(class='input-group-addon') Password &nbsp;
            input.form-control(name='password', placeholder='', type='password', required)
          if (error) 
            div(class='alert alert-warning alert-dismissible' role='alert')
              button(type='button', class='close', data-dismiss='alert')
                span(aria-hidden='true') &times;
                span(class='sr-only') Close
              strong Warning!
              p Invalid user email or password! You Need to get this sorted out!
          .input-group
            div(class='checkbox', style='margin-left: 22px; margin-bottom: 0px;')
              input(type='checkbox', name='remember')
              | Remember me
        div(class='modal-footer')
          button(type='submit', class='btn btn-lg btn-block') Submit

mixin signIn()
  a(role='menuitem', tabindex='-1', data-toggle='modal', data-target='#login-form') Sign In